.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.home__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    background-color:rgb(11, 84, 153);
}

.home__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: white;
    font-size: 15px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home__header a:hover {
    text-decoration: underline;
}

.home__headerLeft {
    display: flex;
    align-items: center;
    min-width: 1vw;
    justify-content: space-between;
    color: white;
}

.home__headerLeft:hover {
    color: black;
}

.home__body {
    flex: 0;
    display: flex;
    margin-top: 0%;
    flex-direction: column;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home__body > img {
    object-fit: contain;
    height: 290px;
    margin-bottom: 0%;
}



