.search__input {
    display: flex;
    align-items: center;
    border: 2px solid rgb(11, 84, 153);
    height: 20px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 500px;
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: hidden;
}

.search__input > input:focus {
    outline-width: px;
    outline-style: unset;
}

.search__inputIcon {
    outline-width: 0;
    
}

.search__inputIcon {
    color: rgb(11, 84, 153);
}
/*
.search_button {
    margin-top: 30px;
    align-items: center;
    background-color: rgb(11, 84, 153);
    display: flex;
    justify-content: center;
}
.search_button button {
    margin: 5px;
    padding: 7px 15px;
    background-color: rgb(11, 84, 153);
    border: 1px solid white;
    text-transform: inherit;
}


.search_button button:hover {
    box-shadow: 0 1px 1px rgb(11, 84, 153);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: rgb(11, 84, 153);
    border: 1px solid #c6c6c5;
    color: #222;
}

.button {
    border-radius: 20px;
    border-color: rgb(11, 84, 153);
    transition-duration: 0.4s;
    border-radius: 20px;
    opacity: 1.0;
    outline-width: thick;
    border: 2px solid rgb(11, 84, 153);
  }

.button:hover {
    border-color:  white;
    opacity: 1.0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
*/

  .button__hidden {
      display: none !important;
  }